@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #f49e09;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--primary-color);
}



nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  padding: 12rem 1rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: var(--header-font);
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about__container :is(.section__header, .section__subheader) {
  text-align: left;
}

.about__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
}

.about__card {
  flex: 1 1 150px;
  text-align: center;
  border-right: 2px solid var(--primary-color);
}

.about__card:last-child {
  border: none;
}

.about__card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.about__card p {
  font-size: 0.9rem;
}

.about__image img {
  max-width: 350px;
  margin: auto;
  border-radius: 50px;
}

.discover {
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.05),
      transparent);
}

.discover__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.discover__card {
  max-width: 320px;
  margin: auto;
}

.discover__card:nth-child(2) {
  transform: translateY(5rem);
}

.discover__image {
  position: relative;
}

.discover__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.discover__card__content {
  padding: 0 2rem;
  transform: translateY(-50%);
}

.discover__card__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--secondary-color);
}

.discover__card__content p {
  margin-bottom: 2rem;
}

.discover__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
}

.discover__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rounded-image {
  border-radius: 15px;
}

.blogs__container {
  padding: 5rem 0;
}

.blogs__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.blogs__card {
  position: relative;
}

.blogs__card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.blogs__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1;
}

.journals__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.journals__content {
  padding: 2rem;
  background-color: var(--primary-color-light);
}

.journals__author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.journals__author img {
  max-width: 30px;
  border-radius: 100%;
}

.journals__author p {
  font-size: 0.9rem;
  opacity: 0.75;
}

.journals__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.journals__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.journals__footer p {
  font-size: 0.9rem;
  opacity: 0.5;
}

.journals__footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.75;
}

.journals__btn {
  margin-top: 4rem;
  text-align: center;
}

.journals__card img {
  max-width: 100%;
  /* Asegura que la imagen no sea más ancha que el contenedor */
  max-height: 450px;
  /* Establece la altura máxima deseada */
  object-fit: cover;
  /* Ajusta la imagen para cubrir el área sin deformarla */
}


.hero__container p {
  text-align: center;
  font-size: 12rem;
  font-weight: 700;
  background-image: url("./assets/5766931599656821.webp");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--extra-light);
}

.gallery__container {
  padding: 5rem 1rem;
}

.gallery__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__content {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem 1rem;
  transition: 0.3s;
  text-align: center;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.gallery__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.gallery__card:hover .gallery__content {
  bottom: 0;
}

.gallery__card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 30px;
}

.contact {
  background-image: linear-gradient(to top,
      rgba(255, 255, 255, 0.05),
      transparent);
}

.contact {
  padding: 20px;
  display: flex;
  height: 50vh;
  background-image: url('./assets/dark-souls-brand_banner.jpg');
  background-size: cover;
  background-position: center;
  margin: 60px 0;
  flex-direction: column;
  /* Asegura que los elementos se apilen verticalmente */
  justify-content: center;
  /* Centrado vertical */
  align-items: center;

}

.contact h2 {
  text-align: center;
  /* Alinea el texto al centro si es necesario */
}

#download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#download h4 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.contact__card {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid var(--extra-light);
  border-radius: 100%;
  cursor: pointer;
}

.footer__container {
  text-align: center;
}

.footer__container h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__socials {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer__socials span a {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials span a:hover {
  color: var(--secondary-color);
}

.footer__container p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 4rem;
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__link a {
  font-weight: 500;
  color: var(--white);
}

.footer__link a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--extra-light);
}

@media (width < 900px) {
  .link:not(.search) {
    display: none;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .about__container :is(.section__header, .section__subheader) {
    text-align: center;
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .discover__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .journals__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .hero__container p {
    font-size: 10rem;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__col:first-child {
    grid-area: 1/1/2/3;
    text-align: center;
  }
}

@media (width < 600px) {
  .header__container {
    text-align: center;
  }

  .header__container h4 {
    margin-left: 0;
  }

  .about__card {
    border: none;
  }

  .discover__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .discover__card:nth-child(2) {
    transform: translateY(0);
  }

  .blogs__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .journals__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero__container p {
    font-size: 6rem;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__col:first-child {
    grid-area: unset;
  }
}

#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color oscuro semitransparente */
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.sticky-navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  /* Color oscuro semitransparente */
}

/* Demo Code: */

.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}

.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}

.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}

.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}

.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
  width: 70px;
}

.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}

.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}

.projcard-textbox * {
  position: relative;
}

.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 24px;
  color: #424242;
}

.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
}

.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
  background-color: #0088FF;
}

.projcard-blue::before {
  background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

.projcard-red .projcard-bar {
  background-color: #D62F1F;
}

.projcard-red::before {
  background-image: linear-gradient(-70deg, #D62F1F, transparent 50%);
}

.projcard-red:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #D62F1F, transparent 50%);
}

.projcard-green .projcard-bar {
  background-color: #40BD00;
}

.projcard-green::before {
  background-image: linear-gradient(-70deg, #40BD00, transparent 50%);
}

.projcard-green:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #40BD00, transparent 50%);
}

.projcard-yellow .projcard-bar {
  background-color: #F5AF41;
}

.projcard-yellow::before {
  background-image: linear-gradient(-70deg, #F5AF41, transparent 50%);
}

.projcard-yellow:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #F5AF41, transparent 50%);
}

.projcard-orange .projcard-bar {
  background-color: #FF5722;
}

.projcard-orange::before {
  background-image: linear-gradient(-70deg, #FF5722, transparent 50%);
}

.projcard-orange:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #FF5722, transparent 50%);
}

.projcard-brown .projcard-bar {
  background-color: #C49863;
}

.projcard-brown::before {
  background-image: linear-gradient(-70deg, #C49863, transparent 50%);
}

.projcard-brown:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #C49863, transparent 50%);
}

.projcard-grey .projcard-bar {
  background-color: #424242;
}

.projcard-grey::before {
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
}

.projcard-grey:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-customcolor .projcard-bar {
  background-color: var(--projcard-color);
}

.projcard-customcolor::before {
  background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%);
}

.projcard-customcolor:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%);
}

.projcard-description {
  z-index: 10;
  font-size: 15px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}

.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}

.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

.infinite-slider {
  height: 250px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 780px) {
  .infinite-slider {
    height: 150px;
  }
}

.infinite-slider .items {
  display: flex;
  width: 300%;
  height: 100%;
  animation: moveSlideshow 60s linear infinite;
}

.infinite-slider .items .item {
  width: 400px;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
}

.infinite-slider .items .item-1 {
  background-image: url("./assets/Screenshot_20220904-005340_WhatsApp.jpg");
}

.infinite-slider .items .item-2 {
  background-image: url("./assets/20230723215354.png");
}

.infinite-slider .items .item-3 {
  background-image: url("./assets/20230102_191342.jpg");
}

.infinite-slider .items .item-4 {
  background-image: url("./assets/20230405_172332.jpg");
}

.infinite-slider .items .item-5 {
  background-image: url("./assets/bhdopwl5nsp51.jpg");
}

.infinite-slider .items .item-6 {
  background-image: url("./assets/phogs-1-1920x1080-crop-q90.jpg");
}

.infinite-slider .items .item-7 {
  background-image: url("./assets/ds1.png");
}

@-moz-keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

@-webkit-keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

@-o-keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}



.container {
  width: 80%;
  display: block;
  margin: 100px auto;
  text-align: center;
}

.pokeball {
  display: inline-block;
  margin: 20px;
  width: 100px;
  height: 100px;
  background: #b71c1c;
  border-radius: 50%;
  box-shadow: inset 0 -72px 0 -37px #fff, inset 0 -76px 0 -35px #000, 0 0 0 5px #000;
  position: relative;
  transition: 0.4s;
  transform-origin: bottom center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.pokeball:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  top: 50px;
  left: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 5px #fff, 0 0 0 10px #000;
}

.pokeball:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
}

.pokeball:hover {
  cursor: pointer;
  -webkit-animation: anti-wiggle 1s ease-in-out;
  animation: anti-wiggle 1s ease-in-out;
}

.pokeball:hover:after {
  -webkit-animation: wiggle 1s ease-in-out;
  animation: wiggle 1s ease-in-out;
}

.pokeball:focus,
.pokeball:active {
  outline: 0;
}

@-webkit-keyframes wiggle {
  20% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(7deg);
  }

  40% {
    box-shadow: inset -11px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-14deg);
  }

  60% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(4deg);
  }

  80% {
    box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-2deg);
  }

  100% {
    box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  20% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(7deg);
  }

  40% {
    box-shadow: inset -11px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-14deg);
  }

  60% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(4deg);
  }

  80% {
    box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-2deg);
  }

  100% {
    box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(-7deg);
  }

  40% {
    transform: translateX(-8px) rotate(14deg);
  }

  60% {
    transform: translateX(2px) rotate(-4deg);
  }

  80% {
    transform: translateX(-1px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(-7deg);
  }

  40% {
    transform: translateX(-8px) rotate(14deg);
  }

  60% {
    transform: translateX(2px) rotate(-4deg);
  }

  80% {
    transform: translateX(-1px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #00000000;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid #369eff66;
  width: 14em;
  height: 14em;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.form p {
  color: #fff;
  font-weight: bolder;
}

.path {
  fill: #369eff
}

.svg {
  filter: blur(20px);
  z-index: -1;
  position: absolute;
  opacity: 50%;
  animation: anim 3s infinite;
}

.inp {
  margin-left: auto;
  margin-right: auto;
  white-space: 4px;
}

.input+.input {
  margin-left: 0.3em
}

.input {
  color: #fff;
  height: 2em;
  width: 2em;
  float: left;
  text-align: center;
  background: #00000000;
  outline: none;
  border: 1px #369eff solid;
  border-radius: 10px;
  transition: all 0.6s ease;
}

.input:focus {
  outline: none;
  border: 1px #fff solid;
}

.input:not(:placeholder-shown) {
  opacity: 40%
}

.form button {
  margin-left: auto;
  margin-right: auto;
  background-color: #00000000;
  color: #fff;
  width: 8.5em;
  height: 2.3em;
  border: #369eff 0.2em solid;
  border-radius: 11px;
  transition: all 0.5s ease;
}

.form button:hover {
  background-color: #369eff;
}

@keyframes anim {
  0% {
    transform: translateY(-70px);
  }

  50% {
    transform: translateY(-19px);
  }

  100% {
    transform: translateY(-70px);
  }
}

.bubbling-heart div {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50vh) scale(0);
  opacity: 0;
  animation: bubbleUp 2s infinite;
}

.bubbling-heart div .fa {
  transform: translateX(12.5vw) rotate(25deg);
  animation: oscillate 4s ease-in-out infinite;
}

.bubbling-heart div:nth-child(2) {
  animation-delay: 0.5s;
}

.bubbling-heart div:nth-child(2) .fa {
  animation-delay: 1s;
}

.bubbling-heart div:nth-child(3) {
  animation-delay: 1s;
}

.bubbling-heart div:nth-child(3) .fa {
  animation-delay: 2s;
}

.bubbling-heart div:nth-child(4) {
  animation-delay: 1.5s;
}

.bubbling-heart div:nth-child(4) .fa {
  animation-delay: 3s;
}

@keyframes bubbleUp {
  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -25vh) scale(2);
  }
}

@keyframes oscillate {
  50% {
    transform: translateX(-12.5vw) rotate(-25deg);
  }
}

@-webkit-keyframes hearts-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hearts-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hearts {
  position: relative;
}

.hearts .heart {
  position: absolute;
  width: 26px;
}

.hearts .heart:before,
.hearts .heart:after {
  content: "";
  width: 15px;
  height: 25px;
  display: block;
  position: absolute;
  background-color: #dd203e;
  border-radius: 50% 50% 0 0;
  top: 0;
}

.hearts .heart:before {
  transform: rotate(-45deg);
  transform-origin: left bottom;
  left: 0;
}

.hearts .heart:after {
  transform: rotate(45deg);
  transform-origin: right bottom;
  right: 25px;
}

.hearts .heart-1 {
  top: 30px;
  left: 50px;
  -webkit-animation: hearts-animation 0.8s linear 0s infinite alternate;
  animation: hearts-animation 0.8s linear 0s infinite alternate;
}

.hearts .heart-2 {
  top: -40px;
  right: 0;
  -webkit-animation: hearts-animation 0.8s linear 0.4s infinite alternate;
  animation: hearts-animation 0.8s linear 0.4s infinite alternate;
}

.hearts .heart-3 {
  top: -80px;
  left: 100px;
  -webkit-animation: hearts-animation 0.8s linear 0.8s infinite alternate;
  animation: hearts-animation 0.8s linear 0.8s infinite alternate;
}

.hearts .heart-4 {
  top: 40px;
  right: 30px;
  -webkit-animation: hearts-animation 0.8s linear 1.2s infinite alternate;
  animation: hearts-animation 0.8s linear 1.2s infinite alternate;
}

.hearts .heart-5 {
  top: -60px;
  right: 70px;
  -webkit-animation: hearts-animation 0.8s linear 1.6s infinite alternate;
  animation: hearts-animation 0.8s linear 1.6s infinite alternate;
}

.hearts .heart-6 {
  top: -20px;
  left: 10px;
  -webkit-animation: hearts-animation 0.8s linear 2s infinite alternate;
  animation: hearts-animation 0.8s linear 2s infinite alternate;
}